/* Start Basic Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
}
html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}
body {
  position: relative;
  width: 100vh;
  height: 100vh;
}
:root {
  --main-heading: #3e2753;
  --placeholder-text: #c6cacd;
  --chat-on-the-right-paragraph: #a39daa;
  --chat-on-the-left: #9241c8;
  --sub-heading-at-the-top-of-the-app-UI: #d89eff;
  --Gradients-one: #e942ff;
  --Gradients-two: #8838ff;
  --app-background: #f5f3f7;
  --submit-button-background: #3e2753;
  --radio-button-outline: #e570ff;
}
/* End Basic Rules */
/* Start Main Section */
.main {
  position: absolute;
  top: 0;
  left: -100px;
  width: 500px;
  height: 90%;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  background-image: linear-gradient(
    to right,
    var(--Gradients-two, #8838ff),
    var(--Gradients-one, #e942ff)
  );
  z-index: -1;
}
/* End Main Section */
